---
import Layout from "../layouts/Layout.astro";
import Link from "../components/link.astro";
---

<Layout title="access to Hoppy">
        <main>
        <h1 class="title">access to Hoppy</h1>
        <h2>問い合わせ先</h2>
        <ul>
            <li>Twitter:<a href="https://twitter.com/hoppy_hoda_0616">@hoppy_hoda_0616</a></li>
            <li>Instagram<a href="https://www.instagram.com/hoppy0616/">hoppy0616</a></li>
            <li>GitHub:<a href="https://github.com/Hoppy0616">Hoppy0616</a></li>
        </ul>
        
    </main>
</Layout>
<style>
    main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    color: #FFFFFF;
    }
    .title {
        color: #FFFFFF;
    }
    li {
        margin : 8px 0;
    }
</style>
